*.pyc
*.sublime-*
*.so
*.mod
*.o
*.egg-info
Test/.ipynb_checkpoints/
*.swp
*.hdf5
*.bot
*.swn
*.pvd
*.vts
*swan.csv
*.xmf
*.xdmf
.ipynb_checkpoints
build/
pyReef/libUtils/WaveComp/build/
output_*
.AppleDouble
__MACOSX
.DS_Store
*.dSYM
